body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f7efe2;
    color: #000
}

.logo {
    font-family: 'Notable', sans-serif;
    padding: 20px 0;
}

.barras-01,
.barras-02,
.barras-03,
.barras-04,
.barras-05 {
    width: 100%;
    height: 10px;
}

.barras-01 {
    background-color: #febb24;
}

.barras-02 {
    background-color: #fd692d;
}

.barras-03 {
    background-color: #fb2736;
}

.barras-04 {
    background-color: #b81d3d;
}

.barras-05 {
    background-color: #671e53;
}

.destaque {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}

.destaque-fade {
    background: rgb(247, 239, 226);
    background: linear-gradient(0deg, rgba(247, 239, 226, 1) 0%, rgba(247, 239, 226, 0.6054796918767507) 50%);
    width: 100%;
    height: 600px;
}

.page {
    width: 100%;
    height: auto;
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.content h1 {
    font-size: 4em
}

.content small {
    font-size: 1.5em;
}

.sinopse {
    padding-top: 10px
}

.sinopse p {
    font-size: 2em;
}

.trailer {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.trailer iframe {
    border-radius: 20px;
    width: 640px;
    height: 480px;
    display: block;
    margin: auto;
}

.btn-strm {
    padding: 50px 20px;
    border-radius: 20px;
    margin: 10px 0;
}

footer {
    padding: 20px 0;
}

.socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.socials ul li {
    display: inline-block;
    margin: 5px 10px;
}

.socials ul li a {
    display: block;
    text-decoration: none;
    font-size: 2em;
    color: #000;
}

.shopee-logo {
    width: 35px;
    height: auto;
    margin-top: -7px;
}

.youtube-logo {
    color: #ff0000;
}

.instagram-logo {
    color: #d2348a;
}

.tiktok-logo {
    color: #000;
}

ul.streaming-btn {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 120px;
}

.streaming-btn li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.streaming-btn li a {
    display: block;
    margin: 10px;
}

.streaming-btn img {
    border-radius: 20px;
    width: auto;
    height: 80px;
    transition: .2s;
    border: 2px solid black;
}

.streaming-btn img:hover {
    border: 2px solid red;
    transition: .2s;
}

.prateleira {
    background-color: #161616;
    width: auto;
    /*overflow-x: scroll;
    overflow-y: hidden;*/
    min-height: 540px;
    background: url("../imgs/prateleira-bck.jpg") repeat;
}

.prateleira ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.prateleira ul li {
    /*display: table-cell;*/
    display: inline-block;
    margin: 30px 0 20px 0;
}

.prateleira ul li a {
    display: block;
}

.prateleira ul li:last-child {
    transform: rotate(-2deg);
    margin-left: 5px
}

.prateleira ul li a img {
    width: auto;
    height: 500px;
    transition: .2s;
}

.prateleira ul li a img:hover {
    filter: brightness(1.5);
    /*transform: rotate(1deg);*/
    transition: .2s;
}

@media(max-width:640px) {
    .trailer iframe {
        border-radius: 20px;
        width: 100%;
        height: 320px;
    }
    .content h1 {
        font-size: 1.5em;
        font-weight: bold;
    }
    .content small {
        font-size: .8em;
    }
    .sinopse p {
        font-size: .8em;
    }
    .streaming-btn img {
        height: 60px;
    }
    .prateleira {
        min-height: 270px;
        background: url("../imgs/prateleira-bck-mobile.jpg") repeat;
    }
    .prateleira ul li {
        /*display: table-cell;*/
        display: inline-block;
        margin: 20px 0;
    }
    .prateleira ul li a img {
        width: auto;
        height: 300px;
        transition: .2s;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: rgba(254, 187, 36, 1);
    }
    .destaque-fade {
        background: rgb(51, 51, 51);
        background: linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0.6054796918767507) 50%);
    }
    .socials ul li a {
        color: rgba(254, 187, 36, 1);
    }
}